.coinContainer {
    margin: 50px auto;
    border: 1px solid silver;
    border-radius: 10px;
    width: fit-content;
    background-color: #f6f6f6;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-top: 50px;
    border: 1px solid silver;
    height: 20px;
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 5px;
    transition: all 0.2s ease;
}

.input:focus {
    outline: none;
    background-color: white;
    color: white;
    box-shadow: #414040 0px 3px 8px;
}

.containerinput {
    display: flex;
    align-items: center;
    justify-content: center;
}